/* Grid Container: Elemeno padre con display: grid
   Grid item: elemento hijo directo de un grid container.
   Grid line: Lineas divisoras horizontales y verticales.
   Grid Track: Filas y columnas
   Grid Cell: Espacio entre dos lineas verticales adayacentes y dso lineas horizontales adyacentes.
   Grid Area: Espacio rodeado por 4 frid lines.
   */

body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.grid_container{
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(3, 1fr);
  grid-gap: 10px;
  height: 40vh;

  /* El valor por defecto es stretch, que abarca todo ele spacio disponible. */
  /* justify-items: start center end stretch */
  justify-items: center;

     /* align-items: start center end stretch; */
  align-items: center;
  
}

.grid_item{
  background: lightblue;
  padding: 10px;
  border: 1px solid red;
}

.grid_item:nth-of-type(5){
  align-self: start;
  justify-self: start;
}

.grid_item:nth-of-type(9){
  align-self: end;
  justify-self: end;
}

.grid_item:nth-of-type(11){
  align-self: end;
  justify-self: stretch;
}